.page {
    margin: 0 auto;
    text-align: center;
    font-family: "Arial Rounded MT Bold";
    font-weight: normal;
    font-size: 24px;
}

.fieldCards {
    display: flex;
    margin: 0 auto;
    background: chocolate;
}

/*.card {*/
/*    display: flex;*/
/*    width: 500px;*/
/*    height: 200px;*/
/*    background: rebeccapurple;*/
/*    border-radius: 15%;*/
/*    border: 2px solid black;*/
/*}*/

.row {
    display: flex;
    flex-direction: row;
    padding: 40px 40px 40px 100px;
}

.avatar img {
    width: 100px;
    height: 100px;
    border-radius: 40%;
    margin-bottom: 20px
}

.subscribe {
    color: #fff;
    display:block;
    width: 105px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 7px 14px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: rgb( 43, 153, 91 );
    border: 1px solid rgb( 33, 126, 74 );
}

.subscribe:hover {
    background-color: rgb( 75, 183, 141 );
}

.subscribe:active {
    text-align: center;
}

.avaAndBut {
    flex: 0 1 10%;
}

.userInfo {
    flex: 0 1 80%;
    /*width: 350px;*/
    height: 150px;
    border-radius: 5%;
    border: 2px solid grey;
}

.page span {
    margin: 0 10px;
}

.changedPage {
    font-weight: bold;
}